.inputArea {
    display: inline-block;
}

.d3 {
    position: absolute;
    top: 4em;
    left: 0;
    z-index: -1;
}

circle {
  fill-opacity: .25;
  stroke-width: 1px;
}

.leaf circle {
  fill-opacity: 1;
}

#images {
    position: absolute;
}