.footer {
    height: 2em;
    width: 100%;
    
    position: absolute;
    bottom: 0;
    
    border-top: 1px solid $colour1;
    
    background: $colour2;
    color: $colour1;
    
    text-align: center;
    line-height: 2em;
}