.footer {
    height: 2em;
    width: 100%;
    
    position: absolute;
    bottom: 0;
    
    background: lighten($colour2, 5%);
    color: darken($colour1, 10%);
    
    text-align: center;
    line-height: 2em;
}